
.contenedorTabla{
    width: 1000px;
    height: auto;
    background-color: rgb(255, 255, 255);
    float: left;
}

.contenedorBotones{
  background-color: #171B29; 
}


.botones{
  width: 150px;
  height: 45px;
  border-radius: 13px 13px 13px 13px;
  border: none;
  font-weight:bolder;
  background-color: grey;
}

#calendar {  
  max-width: 900px;
}
